/* VARIAVEIS */

[data-tema="dark"] {
    --planofundo: #031123;
    --cor-secao: #051D3B;
    --cor-primaria-texto: aliceblue;
    --cor-primaria-botao: #353535;
    --cor-botao: #14000b;
    --cor-secundaria-texto: #353535;
    --cor-fundo-tags: dimgray;
    --degrade: linear-gradient(to bottom right, crimson, #353535);
    --fundo-scrollbar-track: #353535;
    --fundo-scrollbar-thumb: crimson;
    --titulo: #e6e8eb;
    --shadow: #506075;
    --borda-input: dimgray;
    --cor-borda: snow;
    --hamburguer: #3d85c6;

}

[data-tema="light"] {
    --planofundo: #c4d2e7;
    --cor-secao: #6389c1;
    --cor-primaria-texto: #353535;
    --cor-primaria-botao: #ffffff;
    --cor-botao: #ffffff;
    --cor-fundo-tags: gray;
    --degrade: linear-gradient(to bottom right, #3d85c6,
            #c4daed);
    --fundo-scrollbar-thumb: #3d85c6;
    --fundo-scrollbar-track: #c4daed;
    --titulo: #280017;
    --shadow: #2F2A2C;
    --borda-input: black;
    --cor-borda: black;
    --hamburguer: snow;

}

/*
    Estilos para outros tamanhos de telas:
    Mobile -> até 400px
    Tablet -> até 768px
    TVs -> maior que 1920
*/

/* MOBILE */

@media screen and (max-width: 450px) {

    .logo>span {
        display: inline-flex;
        align-items: center;
        color: aliceblue;
        font-family: "Comfortaa", sans-serif;
        font-size: 15px;
        font-weight: 700;
        margin-inline-start: 1.5rem;
        height: 100%;

    }

    .logo-menu {
        display: flex;
        background-color: var(--cor-secao);
        height: 65px;
        justify-content: space-between;
    }

    .logo-menu a {
        display: inline-flex;
        height: 100%;
        text-decoration: none;
        color: var(--cor-primaria-texto);
        background-color: var(--cor-botao);
        font-family: "Josefin Sans", sans-serif;
        font-size: 1.2rem;
        padding: 5px;
        border-radius: 5px;
        transition-duration: 350ms;
        box-shadow: .5px .5px 4px var(--shadow);
        cursor: pointer;
    }




    /* MENU */

    .menu-navegacao {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 65px;
        background-color: var(--cor-secao);
    }

    .logo-menu ul {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 2rem;
        margin-inline-end: 10px;
    }

    .menu-navegacao {
        display: none;
    }

    .menu-navegacao h1 {
        display: flex;
        align-items: center;
    }

    .logo-menu a:hover {
        transform: scale(1.1);
        background-color: #28343c;
        cursor: pointer;
        font-weight: 300;
    }

    .menu-hamburguer {
        position: fixed;
        top: 15px;
        right: 15px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        z-index: 5;
    }

    .menu-hamburguer div {
        width: 25px;
        height: 3px;
        background-color: var(--hamburguer);
        margin: 4px 0;
        transition: 0.4s;
    }

    .menu {
        display: none;
        list-style-type: none;
        position: fixed;
        top: 15px;
        right: 15px;
        flex-direction: column;
        background-color: var(--cor-secao);
        box-shadow: 2px 2px 4px var(--shadow);
        padding: 10px;
        margin-top: 50px;
        z-index: 999;
        border: 1px solid snow;
        transition: .8s;
    }

    .menu li {
        margin: 10px 0;
    }

    .menu li a {
        color: var(--cor-primaria-texto);
        text-decoration: none;
        background-color: var(--cor-secao);
        cursor: pointer;
    }

    .active {
        display: flex;
    }

    .menuActive :nth-child(1) {
        transform: rotate(-45deg) translate(-10px, 10px);
    }

    .menuActive :nth-child(2) {
        opacity: 0;
    }

    .menuActive :nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    /* Farofa de pão */

    .breadcrumbs {
        height: 50px;
        font-size: smaller;

    }

    .breadcrumbs>ul {
        height: 100%;
        display: flex;
        /* margin-inline-start: 100%; */
    }

    .breadcrumbs li {
        display: inline-flex;
        align-items: center;
        height: 100%;
    }

    .breadcrumbs li:not(:last-child)::after {
        content: "→";
        color: aliceblue;
    }

    .breadcrumbs li:not(:last-child)>a {
        color: aliceblue;
    }

    .breadcrumbs li:last-child>a {
        background-color: #2a165d;
        color: aliceblue;
        padding: 8px;
        border-radius: 8px;
        margin-inline-start: 8px;
    }

    .breadcrumbs a:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .breadcrumbs li:last-child>a:hover {
        text-decoration: none;
        cursor: default;
    }

    .breadcrumbs a {
        display: inline-flex;
        align-items: center;
        /* height: 100%; */
        padding: 0 1rem;
        font-family: "Josefin Sans", sans-serif;
        text-decoration: none;
        text-transform: capitalize;
    }

    /* SEÇÃO */
    form {
        display: flex;
        flex-direction: column;
    }

    .secao-flex {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .secoes-principais {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Josefin Sans', sans-serif;
        background: var(--cor-secao);
        box-shadow: 1px 1px 3px var(--shadow);
        margin: 1rem;
        width: 250px;
        padding: 25px;
        border-radius: 10px
    }

    #escalaConvertida,
    #conversaoConvertida {
        border-radius: 16px;
        border: var(--borda-input);
        padding: 5px;


    }

    .peso-altura {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    .temperatura-conversao {
        display: flex;
        flex-direction: column;
        gap: 5px;

    }

    .secao-um,
    #temperatura {
        display: flex;
        border-radius: 10px;
        border: none;
        padding: 5px;
    }

    /* BOTAO CALCULO */
    .botoes-imc {
        display: flex;
        gap: 35px;
        margin-top: 8px;
    }

    .botoes-Conversao {
        display: flex;
        gap: 35px;
        margin-top: 8px;
    }

    .acao-positiva {
        background-color: rgb(0, 255, 0);
        border: none;
        border-radius: 10px;
        font-size: 12px;
        padding: 8px;
        transition: .4s;
    }

    .acao-positiva:hover {
        transform: scale(1.1);
    }

    .acao-negativa {
        background-color: rgb(255, 0, 0);
        border: none;
        border-radius: 10px;
        font-size: 12px;
        padding: 8px;
        transition: .4s;
    }

    .acao-negativa:hover {
        transform: scale(1.1);
    }

    /* BOTÃO TEMA */

    .oculto {
        display: none;
    }

    .troca-tema {
        position: fixed;
        left: auto;
        bottom: 20px;
        position: fixed;
        
    }

    #tema-claro,
    #tema-escuro {
        height: 50px;
        border-radius: 2rem;
        border: none;
        background-color: var(--planofundo);
    }

    #tema-claro img,
    #tema-escuro img {
        border: none;
    }
}

    /* TABLET */
    @media screen and (max-width: 768px) {}

    /* TVs */
    @media screen and (min-width: 1921px) {}