@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    scroll-behavior: smooth;
}

:root {
    font-size: 16px;
    scroll-behavior: smooth;
}

/* VARIAVEIS */

[data-tema="dark"] {
    --planofundo: #031123;
    --cor-secao: #051D3B;
    --cor-primaria-texto: aliceblue;
    --cor-primaria-botao: #353535;
    --cor-botao: #ffffff;
    --cor-secundaria-texto: #353535;
    --cor-fundo-tags: dimgray;
    --degrade: linear-gradient(to bottom right, crimson, #353535);
    --fundo-scrollbar-track: #353535;
    --fundo-scrollbar-thumb: crimson;
    --titulo: #e6e8eb;
    --shadow: #506075;
    --borda-input: dimgray;

}

[data-tema="light"] {
    --planofundo: #c4d2e7;
    --cor-secao: #6389c1;
    --cor-primaria-texto: #353535;
    --cor-primaria-botao: #ffffff;
    --cor-botao: #14000b;
    --cor-fundo-tags: gray;
    --degrade: linear-gradient(to bottom right, #3d85c6,
            #c4daed);
    --fundo-scrollbar-thumb: #3d85c6;
    --fundo-scrollbar-track: #c4daed;
    --titulo: #280017;
    --shadow: #2F2A2C;
    --borda-input: black;

}

/* FONTES */

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
    color: var(--cor-primaria-texto);
}

input,
button {
    font-family: 'Josefin Sans', sans-serif;
}

body {
    min-height: 100vh;
    background-color: var(--planofundo);
}

/* SEÇÕES */

/* .secoes-principais {
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--cor-secao);
    box-shadow: 2px 2px 2px var(--shadow);
    padding: 2rem;
    margin: 1rem;
    border-radius: 16px; */


/* .secao-flex {
    /* display: flex; */
    /* justify-content: center; */
/* } */

.resultado {
    color: aliceblue;
}

.monetario::before {
    content: 'R$ ';

}





/* INPUTS */
.secao-um,
#temperatura {
    display: flex;
    border-radius: 16px;
    border: none;
    padding: 5px;
}

#escalaConvertida,
#conversaoConvertida {
    border-radius: 16px;
    border: var(--borda-input);
    padding: 8px;
    width: 5rem;
}