@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

*{
    scroll-behavior: smooth;
}

:root{
    font-size: 16px;
    scroll-behavior: smooth;
}

[data-tema="dark"]{
    --planofundo: #031123;
    --cor-secao: #051D3B; 
    --cor-primaria-texto: aliceblue;
    --cor-primaria-botao: #353535;
    --cor-botao: #ffffff;
    --cor-secundaria-texto: #353535;
    --cor-fundo-tags: dimgray;
    --degrade: linear-gradient(to bottom right, crimson, #353535);
    --fundo-scrollbar-track: #353535;
    --fundo-scrollbar-thumb: crimson;
    --titulo: #e6e8eb;
    --shadow: #506075;
    --borda-input: aliceblue;

}

[data-tema="light"] {
    --planofundo: #c4d2e7;
    --cor-secao: #6389c1; 
    --cor-primaria-texto: #353535;
    --cor-primaria-botao: #ffffff;
    --cor-botao: #14000b;
    --cor-fundo-tags: gray;
    --degrade: linear-gradient(to bottom right, #3d85c6, 
    #c4daed);
    --fundo-scrollbar-thumb: #3d85c6;
    --fundo-scrollbar-track: #c4daed;
    --titulo: #280017;
    --shadow: #2F2A2C;
    --borda-input: black;

}

body {
    color: var(--cor-primaria-texto);
    background-color: var(--planofundo);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.input{
    display: flex;
}

.input-nome{
    display: flex;
    justify-content: center;
}

#time1,
#time2{
    margin-left: 73px;
    border: black;
    padding: 5px;
    border-radius: 8px;
}

#ladoA,
#ladoB,
#ladoC{
    display: flex;
    justify-content: space-between;
    line-height: 2.2;
    border-radius: 8px;
    border: 1px solid var(--borda-input);
    padding-left: 8px;
    margin-left: 8px;
    margin-right: 47px;
    padding: 5px;
}

#nome{
    display: flex;
    justify-content: center;
    line-height: 2.2;
    border-radius: 8px;
    border: 1px solid var(--borda-input);
    /* padding-left: 8px;
    margin-left: 8px;
    margin-right: 47px; */
    padding: 5px;

}

.botoes{
    display: flex;
    padding: 2rem;
    justify-content: space-evenly;
}

button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

a:hover{
    transform: scale(1.1);
}

.troca-site{
    font-family: "Comfortaa", sans-serif;
    transition-duration: .4s;
    background-color: yellow;
    border: none;
    text-decoration: none;
    width: 190px;
    height: 2rem;
    display: flex;
    justify-content: center;
    border-radius: 16px;
    padding: 5px 4rem 5px 4rem;
    margin-left: 5rem;
    margin-top: 1rem;
    align-items: center;
}

#home{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Comfortaa", sans-serif;
    transition-duration: .4s;
    background-color: yellow;
    border: none;
    text-decoration: none;
    width: 6rem;
    border-radius: 16px;
    padding: 8px 16px 8px 16px;
    
}

#tema-escuro{
    background-color: #0c1523;
    transition-duration: .4s;
    border-radius: 16px;
    border: none;
    text-decoration: none;
    justify-content: center;
    align-items: center;   
    font-family: "Comfortaa", sans-serif;
    width: 8rem;
    height: 3rem;
}

#tema-claro{
    background-color: #2a4b7c;
    color: var(--cor-primaria-botao);
    transition-duration: .4s;
    border-radius: 16px;
    border: none;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-family: "Comfortaa", sans-serif;
    width: 8rem;
    height: 3rem; 
}

#btTriangulo,
#btJogo,
#btCadastrar,
#btPesquisar,
#btConverte,
#btIMC{
    transition-duration: .4s;
    border-radius: 8px;
    border: none;
    background-color: cyan;
    font-family: "Comfortaa", sans-serif;
    width: 7rem;
    height: 2rem;
}

#limparTri,
#limpaPlacar,
#limparIMC,
#limparTemp{
    border-radius: 8px;
    transition-duration: .4s;
    border: none;
    background-color: red;
    font-family: "Comfortaa", sans-serif;
    width: 7rem;
    height: 2rem;
}

#resultado,
#resultadoJogo,
#resultadoTriangulo,
#resultadoIMC,
#resultadoConversao{
    font-family: "Comfortaa", sans-serif;
    margin-left: 6rem;
    font-weight: 700;
}

/* input{
    line-height: 2.2;
    border-radius: 8px;
    border: 1px solid var(--borda-input);
    padding-left: 8px;
} */



label{
    font-family: "Comfortaa", sans-serif;
}


.oculto{
    display: none;
}


section{
    background-color: var(--cor-secao);
    padding: 3%;
    border-radius: 8px;
    box-shadow: 5px 5px 10px var(--shadow);
    width: 100%;
}

.secoes-principais{
    margin: 1rem 0 1rem 0;
    width: 100%;
    line-height: 2.2;
    border-radius: 8px;
    border: 1px solid var(--borda-input);
    padding-left: 8px;
}

#temperatura{
    width: 35%;
    line-height: 2.2;
    border-radius: 8px;
    border: 1px solid var(--borda-input);
    padding-left: 8px;
}

.secao-um{
    width: 46.9%;
    line-height: 2.2;
    border-radius: 8px;
    border: 1px solid var(--borda-input);
    padding-left: 8px;
}

.secao-triangulo,
.secao-nome{
    width: 46.9%;
    line-height: 2.2;
    border-radius: 8px;
    border: 1px solid var(--borda-input);
    padding-left: 8px;   
}

.principal{
    padding: 1rem;
}

.troca-tema{
    padding: 1rem;
}


h1, h2, h3 {
    color: var(--titulo);
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    padding: 2rem 0 2rem 0;
    font-weight: 700;
}