@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

*{
    scroll-behavior: smooth;
}

:root{
    font-size: 16px;
    scroll-behavior: smooth;
}

[data-tema="dark"]{
    --planofundo: #031123;
    --cor-secao: #051D3B; 
    --cor-primaria-texto: aliceblue;
    --cor-primaria-botao: #353535;
    --cor-botao: #ffffff;
    --cor-secundaria-texto: #353535;
    --cor-fundo-tags: dimgray;
    --degrade: linear-gradient(to bottom right, crimson, #353535);
    --fundo-scrollbar-track: #353535;
    --fundo-scrollbar-thumb: crimson;
    --titulo: #e6e8eb;
    --shadow: #506075;
    --borda-input: aliceblue;

}

[data-tema="light"] {
    --planofundo: #f4cce3;
    --cor-secao: #e47fba; 
    --cor-primaria-texto: #353535;
    --cor-primaria-botao: #ffffff;
    --cor-botao: #14000b;
    --cor-fundo-tags: gray;
    --degrade: linear-gradient(to bottom right, #3d85c6, 
    #c4daed);
    --fundo-scrollbar-thumb: #3d85c6;
    --fundo-scrollbar-track: #c4daed;
    --titulo: #280017;
    --shadow: #2F2A2C;
    --borda-input: black;

}

body {
    color: var(--cor-primaria-texto);
    background-color: var(--planofundo);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.input{
    display: flex;
}

#time1,
#time2{
    margin-left: 73px;
    border: black;
    padding: 5px;
    border-radius: 8px;
}

#ladoA,
#ladoB,
#ladoC{
    margin-left: 8px;
    margin-right: 16px;
    border-radius: 8px;
    border: black;
    padding: 5px;
}

.botoes{
    display: flex;
    padding: 2rem;
    justify-content: space-evenly;
}

button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

button{
    font-family: "Comfortaa", sans-serif;
    width: 7rem;
    height: 2rem;
}

a:hover{
    transform: scale(1.1);
}

a{
    font-family: "Comfortaa", sans-serif;
    transition-duration: .4s;
    background-color: yellow;
    border: none;
    text-decoration: none;
    width: 12rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    border-radius: 16px;
    padding: 5px 4rem 5px 4rem;
    margin: 1rem 10rem 0 5rem;
    align-items: center;
}

#btTrocaTema{
    background-color: var(--cor-botao);
    color: var(--cor-primaria-botao);
    box-shadow: var(--shadow);
    transition-duration: .4s;
    border-radius: 8px;
    border: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#btTriangulo,
#btJogo,
#btCadastrar,
#btPesquisar,
#btConverte,
#btIMC{
    transition-duration: .4s;
    border-radius: 8px;
    border: none;
    background-color: cyan;
}

#limparTri,
#limpaPlacar,
#limparIMC,
#limparTemp{
    border-radius: 8px;
    transition-duration: .4s;
    border: none;
    background-color: red;
}

#resultado,
#resultadoJogo,
#resultadoTriangulo,
#resultadoIMC,
#resultadoConversao{
    font-family: "Comfortaa", sans-serif;
    margin-left: 6rem;
    font-weight: 700;
}

input{
    width: 47.3%;
    line-height: 2.2;
    border-radius: 8px;
    border: 1px solid var(--borda-input);
    padding-left: 8px;
}



label{
    font-family: "Comfortaa", sans-serif;
}


.oculto{
    display: none;
}


section{
    background-color: var(--cor-secao);
    padding: 3%;
    border-radius: 8px;
    box-shadow: 5px 5px 10px var(--shadow);
    width: 550px;
    align-items: center;
}

.secoes-principais{
    margin: 1rem 0 1rem 0;
}

h1, h2, h3 {
    color: var(--titulo);
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    width: auto;
    padding: 2rem;
    font-weight: 700;
}
